.popup_background{
  background-color:  #b4b4b4b3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.popup {
  position: fixed;
  top: 20%;
  right: 30%;
  left: 30%;
  bottom: 20%;
  background: white;
  border-radius: 1em;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 1em 2em;
  border: 3px solid #638aa7;
}

#close_button {
  align-self: flex-end;
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  color: #638aa7;
  cursor: pointer;
}

.popup_item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1.5em;
}

.popup_item h2{
  width: 50%;
  color: #638aa7;
  margin:0;
}

.popup_item span {
  width: 50%;
  padding: 0.5em 1em;
  border: 2px solid #638aa7;
  border-radius: 0.8em;
  font-size: 1.2em;
}