.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
}

.user_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-weight: bold;
  color: #638AA7;
  cursor: pointer;
}

.profile_button {
  width: 3em;
  height: 3em;
  border: 3px solid #ffffff;
  border-radius: 50%;
  border: 3px solid #638AA7;
}

.header_logo {
  width: 10em;
  height: 4em;
  background-color: white;
  border-radius: 2em;
}
.search{
    display: flex;
    align-items: center;
    gap: 0.5em;
    border: 2px solid #638AA7;
    padding: 1em 1.5em; 
    border-radius: 1em;
    background-color: white;
}

.search_box {
  outline: none;
  border:none;
  font-weight:500;
  font-size: large;
  width: 50em;
  height: 1.5em;
}

.search_icon {
  width: 1.5em;
  height: auto;
  cursor: pointer;
}
.cart_icon{
  width: 2.5em;
  height: auto;
  color: #638AA7;
  cursor: pointer;
}
/* Tooltip text */
.cart .cart_decription {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: rgb(2, 1, 1);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.user_actions {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* Show the tooltip text when you mouse over the tooltip container */